<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
   <connectionStrings>
    <add name="SchoolDBConnectionString" 
    connectionString="Data Source=LAPTOP-DCDS0CVH;Initial Catalog=SchoolDB;Integrated Security=true" 
    providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>